<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.JJim-mapper">

	<resultMap type="com.sist.vo.JJimVO" id="productMap">
		<result property="pvo.pno" column="pno" />
		<result property="pvo.p_name" column="p_name" />
		<result property="pvo.p_image" column="p_image" />
		<result property="pvo.p_price" column="p_price" />
		<result property="pvo.p_lower_price" column="p_lower_price" />
	</resultMap>

	<select id="JJimListData" resultMap="productMap">
		SELECT no,
		(SELECT pno FROM Product_detail WHERE pno=goods_jjim.pno) as pno,
		(SELECT p_name FROM Product_detail WHERE pno=goods_jjim.pno) as p_name,
		(SELECT p_image FROM Product_detail WHERE pno=goods_jjim.pno) as p_image,
		(SELECT p_price FROM Product_detail WHERE pno=goods_jjim.pno) as p_price,
		(SELECT p_lower_price FROM Product_detail WHERE pno=goods_jjim.pno) as p_lower_price
		FROM goods_jjim
	</select>
</mapper>