<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.JJim-mapper">

    <!-- 찜하기 데이터 출력 -->
	<resultMap type="com.sist.vo.JJimVO" id="allMap">
		<result property="pvo.pno" column="pno" />
		<result property="pvo.p_name" column="p_name" />
		<result property="pvo.p_image" column="p_image" />
		<result property="pvo.p_price" column="p_price" />
		<result property="pvo.p_lower_price" column="p_lower_price" />
		<result property="mvo.id" column="id" />
	</resultMap>

	<select id="JJimListData" resultMap="allMap">
		SELECT no,
		(SELECT id FROM member WHERE id=goods_jjim.id) as id,
		(SELECT pno FROM Product_detail WHERE pno=goods_jjim.pno) as pno,
		(SELECT p_name FROM Product_detail WHERE pno=goods_jjim.pno) as p_name,
		(SELECT p_image FROM Product_detail WHERE pno=goods_jjim.pno) as p_image,
		(SELECT p_price FROM Product_detail WHERE pno=goods_jjim.pno) as p_price,
		(SELECT p_lower_price FROM Product_detail WHERE pno=goods_jjim.pno) as p_lower_price
		FROM goods_jjim
	</select>
	
	<!-- 찜하기 데이터 추가 -->
    <insert id="insertJJimData" parameterType="com.sist.vo.JJimVO">
     INSERT INTO GOODS_JJIM
     values(ij_no_seq.nextval, #{vo.mvo.id}, #{vo.pvo.pno}, 1)
    </insert>
    
    <!-- 찜하기 데이터 삭제 -->
    <delete id="deleteJJimData" parameterType="com.sist.vo.JJimVO">
        DELETE FROM goods_jjim
        WHERE (ID=#{mvo.id} AND pno=#{pvo.pno})
    </delete>
    
    
</mapper>