<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.mybuy-mapper">
<resultMap type="com.sist.vo.ShoppingVO" id="svo">
    <result property="pvo.p_image" column="p_image"/>
    <result property="pvo.p_name" column="p_name"/>
</resultMap>
<select id="mybuyList" resultMap="svo" parameterType="string">
SELECT cbno,p_name,buy_price,buy_date,p_state,p_image,reciepient,phone,buy_address,request_content,buy_count
FROM cart_buy c JOIN PRODUCT_DETAIL pd 
ON c.pNO = pd.PNO 
WHERE userid=#{id} 
<choose>
<otherwise>
AND (buy_ok!='NO')
</otherwise>
</choose>
</select>
<update id="mybuyCancel" parameterType="hashmap">
UPDATE cart_buy SET buy_ok='CANCELWAIT', p_state='결제취소대기' WHERE userid=#{id} AND cbno=#{cbno}
</update>
</mapper>