<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.productAdmin-mapper">


 <resultMap type="com.sist.vo.ShoppingVO" id="cartData">

<result property="pvo.p_image" column="p_image"/>
<result property="pvo.p_name" column="p_name"/>

</resultMap>
<select id="productStateList" resultMap="cartData">
SELECT pno,p_image,p_name,userid,TO_CHAR(buy_date,'YYYY-MM-DD'),buy_state,cbno
 FROM CART_BUY a
 JOIN PRODUCT_DETAIL b ON a.pno=b.pno
 WHERE BUY_OK=

<if test="type==1">
'YES'
</if>

<if test="type==2">
'CANCELWAIT'
</if>
 
 <if test="type==3">
'CANCEL'
</if>

<if test="type==4">
'SHIPPING'
</if>

<if test="type==5">
'SHIPPINGCOMPLETE'
</if>

</select>

</mapper>