<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.productQna-mapper">

<sql id="qnaList">
SELECT qno, qtitle, qcontent,pno,
answercheck, secretcheck, filename, filesize, qwriter,TO_CHAR(qregdate,'YYYY-MM-DD HH24:MI:SS') as dbday 
FROM(SELECT qno, qtitle, qcontent,pno,
answercheck, secretcheck, filename, filesize, qwriter,qregdate,rownum as num
FROM (SELECT qno, qtitle, qcontent,pno,
answercheck, secretcheck, filename, filesize, qwriter,qregdate FROM QNABOARD  
</sql>

<select id="productQnaListData" resultType="QnaBoardVO" parameterType="hashmap">
<include refid="qnaList"/>
WHERE pno=#{pno}
<if test="type==1">
 ORDER BY qregdate DESC))
</if>

<if test="type==2">
 ORDER BY qregdate ASC))
</if>
<if test="type==3">
AND answercheck='y' ORDER BY qregdate DESC))
</if>

<if test="type==4">
AND answercheck='n' ORDER BY qregdate DESC))
</if>



WHERE num BETWEEN #{start} AND #{end}


</select> 


<select id="productQnaCount" resultType="int" parameterType="hashmap">
SELECT COUNT(*) FROM QNABOARD WHERE pno=#{pno}
<if test="type==3">
AND answercheck='y'
</if>

<if test="type==4">
AND answercheck='n'
</if>

</select>

<insert id="productQnaInsert" parameterType="QnaBoardVO">
INSERT INTO QNABOARD
(QNO,QTITLE,QCONTENT,PNO,QWRITER,SECRETCHECK,FILENAME,FILESIZE)
VALUES(qna_qno_seq.nextval,#{qtitle},#{qcontent},#{pno},#{qwriter},#{secretcheck},#{filename},#{filesize})
</insert>

<select id="productQnaUserCountCheck"  resultType="int" parameterType="hashmap">
SELECT COUNT(*) FROM QNABOARD where pno=#{pno} AND qwriter=#{qwriter}
</select>


<select id="ProductQnaGetPname" resultType="java.lang.String" parameterType="int">
    SELECT p_name FROM Product_detail JOIN qnaboard on product_detail.pno=qnaboard.pno
    WHERE qno=#{qno}
</select>

<resultMap type="com.sist.vo.QnaBoardVO" id="qnaAnswerMap">
<result property="qavo.antitle" column="antitle"/>
<result property="qavo.ancontent" column="ancontent"/>
<result property="qavo.qno" column="qno"/>
</resultMap>

<select id="productQnaAnswerData" resultMap="qnaAnswerMap" parameterType="int">
select qwriter,qtitle,filename,qcontent,antitle,ancontent,QnaBoard.qno from QnaBoard JOIN Qna_admin_reply 
ON qnaboard.qno=Qna_admin_reply.qno
WHERE qnaboard.qno=#{qno}
</select>

<select id="productQnaAnswerNotData" resultType="QnaBoardVO" parameterType="int">
select qwriter,qtitle,filename,qcontent,qno FROM QNABOARD WHERE qno=#{qno}
</select>

<select id="productAdminQnaCount" resultType="int" parameterType="int">
SELECT COUNT(*) FROM QNABOARD
<if test="type==1">
WHERE answercheck='n'
</if>

<if test="type==2">
WHERE answercheck='y'
</if>

</select>


<select id="productQnaAdminListData" resultType="QnaBoardVO" parameterType="hashmap">


<if test="type==1">
<include refid="qnaList"/>
 WHERE answercheck='n' ORDER BY qregdate DESC))
</if>

<if test="type==2">

SELECT qno, qtitle, qcontent,pno,
answercheck, secretcheck, filename, filesize, qwriter,TO_CHAR(qregdate,'YYYY-MM-DD HH24:MI:SS') as dbday 
FROM(SELECT qno, qtitle, qcontent,pno,
answercheck, secretcheck, filename, filesize, qwriter,qregdate,rownum as num
FROM (SELECT QNABOARD.qno, qtitle, qcontent,pno,
answercheck, secretcheck, filename, filesize, qwriter,qregdate FROM QNABOARD  
JOIN QNA_ADMIN_REPLY ON QNABOARD.qno=QNA_ADMIN_REPLY.qno
WHERE answercheck='y' ORDER BY adno DESC))
</if>


WHERE num BETWEEN #{start} AND #{end}


</select> 

<insert id="productQnaAnswerInsert" parameterType="hashmap">
INSERT INTO QNA_ADMIN_REPLY
VALUES(qna_admin_reply_seq.nextval,#{antitle},#{ancontent},#{qno})
</insert>

<update id="productQnaUpdateAnswerCheck" parameterType="int">
UPDATE QNABOARD SET
answercheck='y'
WHERE qno=#{qno}
</update>

</mapper>