<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.productQna-mapper">



<select id="productQnaListData" resultType="QnaBoardVO" parameterType="hashmap">

SELECT qno, qtitle, qcontent,
answercheck, secretcheck, filename, filesize, qwriter,TO_CHAR(qregdate,'YYYY-MM-DD HH24:MI:SS') as dbday 
FROM(SELECT qno, qtitle, qcontent,
answercheck, secretcheck, filename, filesize, qwriter,qregdate,rownum as num
FROM (SELECT qno, qtitle, qcontent,
answercheck, secretcheck, filename, filesize, qwriter,qregdate FROM QNABOARD WHERE pno=#{pno} ORDER BY qno DESC))
WHERE num BETWEEN #{start} AND #{end}


</select> 


<select id="productQnaCount" resultType="int" parameterType="int">
SELECT COUNT(*) FROM QNABOARD WHERE pno=#{pno}
</select>

<insert id="productQnaInsert" parameterType="QnaBoardVO">
INSERT INTO QNABOARD
(QNO,QTITLE,QCONTENT,PNO,QWRITER,SECRETCHECK,FILENAME,FILESIZE)
VALUES(qna_qno_seq.nextval,#{qtitle},#{qcontent},#{pno},#{qwriter},#{secretcheck},#{filename},#{filesize})
</insert>

<select id="productQnaUserCountCheck"  resultType="int" parameterType="hashmap">
SELECT COUNT(*) FROM QNABOARD where pno=#{pno} AND qwriter=#{qwriter}
</select>

</mapper>