<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.reserve-funeral-mapper">
 <select id="reserveFuneralListData" resultType="FuneralListVO" parameterType="hashmap">
    SELECT cr_com_no,CR_COM_NAME,CR_COM_PHONE,CR_COM_LOC,CR_COM_HOMEPAGE
    FROM FUNERAL_COMPANY_LIST
 </select>
</mapper>