<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.reserve-funeral-mapper">
	<select id="reserveFuneralListData" resultType="FuneralListVO"
		parameterType="hashmap">
		SELECT cr_com_no,CR_COM_NAME,CR_COM_PHONE,CR_COM_LOC,CR_COM_HOMEPAGE
		FROM FUNERAL_COMPANY_LIST
		<if test="no==1">
			WHERE (CR_COM_LOC LIKE '%강원%' OR CR_COM_LOC LIKE '%강원도%')
		</if>
		<if test="no==2">
			WHERE (CR_COM_LOC LIKE '%경기%' OR CR_COM_LOC LIKE '%경기도%')
		</if>
		<if test="no==3">
			WHERE (CR_COM_LOC LIKE '%경남%' OR CR_COM_LOC LIKE '%경상남도%')
		</if>
		<if test="no==4">
			WHERE (CR_COM_LOC LIKE '%경북%' OR CR_COM_LOC LIKE '%경상북도%')
		</if>
		<if test="no==5">
			WHERE (CR_COM_LOC LIKE '%전남%' OR CR_COM_LOC LIKE '%전라남도%')
		</if>
		<if test="no==6">
			WHERE (CR_COM_LOC LIKE '%전북%' OR CR_COM_LOC LIKE '%전라북도%')
		</if>
		<if test="no==7">
			WHERE (CR_COM_LOC LIKE '%충남%' OR CR_COM_LOC LIKE '%충청남도%')
		</if>
		<if test="no==8">
			WHERE (CR_COM_LOC LIKE '%충북%' OR CR_COM_LOC LIKE '%충청북도%')
		</if>
	</select>

	<select id="reserveDays" resultType="string" parameterType="int">
		SELECT rday FROM FUNERAL_COMPANY_LIST
		WHERE cr_com_no=#{cr_com_no}
	</select>
	<select id="reserveTimes" resultType="string"
		parameterType="int">
		SELECT rd_time FROM res_f_day
		WHERE RD_NO=#{RD_NO }
	</select>
	<select id="reserveGetTime" resultType="string"
		parameterType="int">
		SELECT rt_time FROM res_f_time
		WHERE RT_NO=#{RT_NO}
	</select>
	<!--  예약 정보 저장 -->
	<!-- 
	SQL> desc RES_FUNERAL_INFO;
 이름                                      널?      유형
 RF_NO                                     NOT NULL NUMBER
 ID                                                 VARCHAR2(20)
 CR_COM_NO                                          NUMBER
 RF_DAY                                    NOT NULL VARCHAR2(100)
 RF_TIME                                   NOT NULL VARCHAR2(100)
 RF_INWON                                  NOT NULL VARCHAR2(20)
 RF_REGDATE                                         DATE
 RF_OK                                              NUMBER
	 -->
  <insert id="FuneralreserveInsert" parameterType="FuneralReserveInfoVO">
    INSERT INTO RES_FUNERAL_INFO VALUES(
      (SELECT NVL(MAX(rf_no)+1,1) FROM RES_FUNERAL_INFO),
      #{id},#{cr_com_no},#{rf_day},#{rf_time},#{rf_inwon},
      SYSDATE,0
    )
  </insert>
  
  <!-- 예약데이터 마이페이지 출력 -->
  <select id="mypageReserveListData" resultType="FuneralReserveInfoVO" parameterType="String">
     SELECT RF_NO, RF_DAY, RF_TIME, RF_INWON, RF_OK
     FROM RES_FUNERAL_INFO
     WHERE id=#{id}
     ORDER BY RF_NO DESC
  </select>
  
  <!-- 예약데이터 취소(삭제) -->
  <delete id="Funeralreservedelete" parameterType="int">
     DELETE FROM RES_FUNERAL_INFO
     WHERE rf_no=#{rf_no}
  </delete>
  
   <!-- 어드민페이지 예약정보 읽기-->
  <select id="reserveAdminPageListData" resultType="FuneralReserveInfoVO">
    SELECT RF_NO, RF_DAY, RF_TIME, RF_INWON, RF_OK, id
     FROM RES_FUNERAL_INFO
     ORDER BY RF_NO DESC
  </select>
  
  <!-- 예약 대기 (0)--> 
  <!-- 어드민 예약 승인 (1)--> 
  <update id="reserveAdminOk" parameterType="int">
    UPDATE RES_FUNERAL_INFO SET
    rf_ok=1
    WHERE rf_no=#{rf_no}
  </update>
  
  <!-- 어드민 예약 반려 (2)-->
  <update id="reserveAdminNo" parameterType="int">
    UPDATE RES_FUNERAL_INFO SET
    rf_ok=2
    WHERE rf_no=#{rf_no}
  </update>
</mapper>