<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.reservestay-mapper">
<!-- 선택한 항목 출력 -->
<select id="reserveStayDetail" resultType="RoomVO" parameterType="int">
	SELECT room_image,room_name,room_price,rno FROM roominfo
	WHERE rno=#{rno}
</select>
<!-- 예약 정보 저장 -->
<insert id="stayreserveInsert" parameterType="ReserveStayInfoVO">
	INSERT INTO reserve_stay_info VALUES(
    	(SELECT NVL(MAX(no)+1,1) FROM reservestay_info),
    	#{id},#{stay_no},#{checkin},#{checkout},#{inwon},SYSDATE,0
    )
    </insert>
    
  <!-- 예약데이터 취소(삭제) -->
  <delete id="stayReserveDelete" parameterType="int">
     DELETE FROM RESERVE_STAY_INFO
     WHERE rno=#{rno}
  </delete>
    
  <!-- 어드민페이지 예약정보 읽기-->
  <select id="reserveAdminPageStayListData" resultType="ReserveStayInfoVO">
    SELECT rno, chectin, chectout, roomname, OK, id
     FROM RESERVE_STAY_INFO
     ORDER BY RNO DESC
  </select>
  
  <!-- 예약 대기 (0)--> 
  <!-- 어드민 예약 승인 (1)--> 
  <update id="reserveStayAdminOk" parameterType="int">
    UPDATE RESERVE_STAY_INFO SET
    ok=1
    WHERE rno=#{rno}
  </update>
  
  <!-- 어드민 예약 반려 (2)-->
  <update id="reserveStayAdminNo" parameterType="int">
    UPDATE RESERVE_STAY_INFO SET
    ok=2
    WHERE rno=#{rno}
  </update>

</mapper>