<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.staylike-mapper">
  <update id="stayLikeUpdate" parameterType="int">
    UPDATE stayinfo SET likecount=likecount+1
	WHERE stay_no=#{sno}
  </update>
  
  <insert id="idLikeInsert" parameterType="StayLikeVO">
    INSERT INTO id_like VALUES(il_likeno_seq.nextval,#{id},#{sno},#{image},#{name},#{score})
  </insert>
  
  <select id="idLikeList" parameterType="hashmap" resultType="StayLikeVO">
    SELECT likeno,sno,image,name,score,num  
    FROM (SELECT likeno,sno,image,name,score,rownum as num 
    FROM (SELECT likeno,sno,image,name,score FROM id_like WHERE id=#{id}))
	WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  <delete id="idLikeDelete" parameterType="hashmap">
    DELETE FROM id_like
    WHERE id=#{id} AND sno=#{sno}
  </delete>
  
  <update id="stayLikeCancel" parameterType="int">
  	UPDATE stayinfo SET likecount=likecount-1
  	WHERE stay_no=#{sno}
  </update>
  
  <select id="stayLikeTotal" resultType="int" parameterType="string">
     SELECT CEIL(COUNT(*)/4.0)
     FROM id_like WHERE id=#{id}
  </select>
  
  <select id="idStayLikeCount" resultType="int" parameterType="hashmap">
    SELECT COUNT(*) FROM id_like 
    WHERE id=#{id} AND sno=#{sno}
  </select>
</mapper>