<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="db.properties"/>
<typeAliases>
<typeAlias type="com.sist.vo.QnaAdminReplyVO" alias="QnaAdminReplyVO"/>
<typeAlias type="com.sist.vo.QnaBoardVO" alias="QnaBoardVO"/>
<typeAlias type="com.sist.vo.FuneralListVO" alias="FuneralListVO"/>
<typeAlias type="com.sist.vo.ShoppingVO" alias="ShoppingVO"/>
<typeAlias type="com.sist.vo.ProductVO" alias="ProductVO"/>
<typeAlias type="com.sist.vo.ReserveStayInfoVO" alias="ReserveStayInfoVO"/>
<typeAlias type="com.sist.vo.StayVO" alias="StayVO"/>
<typeAlias type="com.sist.vo.RoomVO" alias="RoomVO"/>
</typeAliases>
<environments default="development">
<environment id="development">
<transactionManager type="JDBC"/>

	<dataSource type="POOLED">
		<property name="driver" value="${driver}"/>
		<property name="url" value="${url}"/>
		<property name="username" value="${username}"/>
		<property name="password" value="${password}"/>
	</dataSource>
	
</environment>
</environments>
<mappers>
	<mapper resource="com/sist/dao/productQna-mapper.xml"/>
	<mapper resource="com/sist/dao/unreg-mapper.xml"/>
	 <mapper resource="com/sist/dao/reserve-funeral-mapper.xml"/>
	 <mapper resource="com/sist/dao/shopping-mapper.xml"/>
	 <mapper resource="com/sist/dao/reservestay-mapper.xml"/>
</mappers>
</configuration>