@charset "UTF-8";

.hsptfind-table{
	width: 1100px; 
 	border-collapse: collapse;
    margin-bottom: 20px;
}

.hsptfind-table th,
.hsptfind-table td {
border: 1px solid #ddd;
padding: 10px;
text-align: center;
}

.hsptfind-table th {
   background-color: #f9f9f9;
}

.hsptDetail {
    cursor: pointer;
    color: blue; 
  }

.hsptDetail:hover {
    color: black; 
  }
	    
.hsptfind_table .success td{
	 text-align: center;
    word-wrap: break-word;
}
.blog__sidebar__item {
    width: 1030px;
    height: 800px;
    margin: 0 auto; /* 컨테이너를 가운데 정렬합니다. */
    text-align: center;
  }

.blog-details{
	padding: 0px;
}
.product__pagination a.selected {
	background-color: #007bff;
	color: #fff;
	border: 1px solid #007bff;
}

.blog__sidebar__search button[type="text"] {
	margin-right: 140px;
}
.hsptDetail:hover{
	cursor: pointer;
}
/* hsptmain */

.product__pagination a.selected {
	background-color: #007bff;
	color: #fff;
	border: 1px solid #007bff;
}
.hspt_main
{
	margin-top: 30px;
}
.search_2 {
	float: right;
}