@charset "UTF-8";

.kyj_cate_selected{
	background-color: rgba(192, 192, 192, 1); /* 완전히 불투명한 회색 */
  border-radius: 5px; /* 모서리를 둥글게 */
  padding: 5px 10px; /* 여백 설정 */
  color:black; /* 텍스트 색상 */
  
  font-weight: bold; /* 텍스트 굵게 */
  text-decoration: none; /* 링크 텍스트의 밑줄 제거 */
  transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

  .kyj_selected {
  background-color: #333;
    color: #fff;
    border-color: #333;
  transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.kyj_selected:hover {
  background-color: #a9a9a9; /* 호버 시 약간 진한 회색 */
  color: #fff; /* 호버 시 텍스트 색상을 흰색으로 변경 */
}
.customimage {
    border: 2px solid rgba(52, 152, 219, 0.1); /* 매우 투명한 파란색 실선 테두리 */
  border-radius: 20px; /* 둥근 테두리 설정 */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); /* 더 투명하고 부드러운 그림자 효과 */
}

 
     .cust {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; /* 아래쪽 간격 */
      margin-left:240px;
  }

  .p_rank li {
    display: inline;

     /* 간격을 더 좁게 조정 */
  }

  .p_rank li a {
    display: inline-block;
    padding: 8px 12px; /* 여백을 줄임 */
    border: 2px solid transparent;
    border-radius: 20px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
      
    
  }
  
  

  .p_rank li a:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }
  
  .p_category{
	  float: left;
	  margin-right:0px;
	  margin-top:100px;
	  width:200px;
	  height: 1590px;
	
	  
  }
  
  .p_rightside{
	  
	  
	  float:right;
	  margin-left:0px;
	  margin-top:0px;
	  height:1600px;
	  width:210px;
	
	
	  }
	  
	 .up_to_image{
		 
		 margin-top:20px auto 0;
		
	 } 
	 
	 .p_cate > li > a:hover
    	{
	  background-color: #333;
    color: #fff;
    border-color: #333;
  		}
  		.prod_page a:hover
  		{
  		  background-color: #333;
    color: #fff;
    border-color: #333;
  		}
	 
	
	.product_search_bar{
position:absolute;

top:430px;
}

.product_search_bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

/* 검색 옵션(select 요소)에 대한 스타일 */
#searchOptions {
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    outline: none; /* 포커스 효과 제거 */
}

/* 입력 필드(input 요소)에 대한 스타일 */
.product_search_bar input[type="text"] {
    height: 40px;
    width: 160px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none; /* 포커스 효과 제거 */
}

/* 검색 버튼에 대한 스타일 */
.product_search_bar button {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    outline: none; /* 포커스 효과 제거 */
}

/* 버튼 아이콘에 대한 스타일 */
.product_search_bar button .icon_search {
    display: inline-block;
    vertical-align: middle;
}  
	  
	  
	  
	  
	  
	  
	  
	  
  