@charset "UTF-8";

 .back-to-list {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #ff9a9e, #fecfef);
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
   
    margin-top:100px;
  }

  .back-to-list:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
   .product__details__stock {
    font-weight: bold;
    background-image: linear-gradient(to right, #FF6B6B, #FFD166); /* 그라데이션 배경 색상 */
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow 2s linear infinite; /* 무지개 애니메이션 효과 */
    display: inline-block;
      font-size: 3.0em;
  }

.p_original_price{
text-decoration: line-through; color: #999999;
font-size: 20px;
padding-left: 10px;
}
.customimage {
    border: 2px solid rgba(52, 152, 219, 0.1); /* 매우 투명한 파란색 실선 테두리 */
  border-radius: 20px; /* 둥근 테두리 설정 */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); /* 더 투명하고 부드러운 그림자 효과 */
}

.discounted-price {
    display: flex;
    align-items: center;
}
.product__details__discount {
    margin-left: 17px; /* 할인율을 원래 가격과 좀 띄워 보이게 만듭니다. */
    padding: 5px 8px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px; /* 할인율의 폰트 크기를 크게 설정합니다. */
        font-weight: bold; /* 더 강조된 글씨체로 보입니다. */
}

.product__details__price {
    font-size: 40px; /* 텍스트 크기 더 크게 설정 */
    color: #333; /* 색상 변경 */
    font-weight: bold; 
}

   .hit-wrapper {
    display: inline-block;
    background: linear-gradient(135deg, #1E90FF, #00BFFF, #87CEFA, #00CED1);
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    
  }

  .hit-number {
    display: inline-block;
    
    color: #FFD700;
    font-size: 10px;
  
    
  }
  
   .category-tag {
    display: inline-block;
    padding: 8px 16px;
    background-color: #FF6347;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
 
    
  }
  
  .detail_sub_image{
	  
	  height:120px;
  }
  
  
  
  .detail_sub_image > div img{
	  
	 width:100%; 
	 height:80%;
  }
  
  .detail_sub_image .col-2 img {
  border: 1px solid #ddd; /* 희미한 회색 테두리 추가 */
  width: 100%; /* 이미지를 부모 요소의 너비에 맞춤 */
  border-radius: 4px; /* 약간 둥근 테두리 */
  transition: border-color 0.3s ease, transform 0.3s ease; /* 부드러운 테두리와 변환 효과 */
}

/* 이미지 호버 시 테두리 색과 크기 변화 */
.detail_sub_image .col-2 img:hover {
  border-color: #aaa; /* 마우스 호버 시 테두리 색 변경 */
  transform: scale(1.3); /* 이미지 확대 효과 */
}



#kyj_top_link a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

#kyj_top_link a:hover {
    background-color: #ddd;
}

.kyj_calBox {
  font-family: Arial, sans-serif;
}

.kyj__details__quantity {
  display: flex;
  align-items: center;
}

.kyj__quantity {
  display: flex;
  align-items: center;
}

.kyj__input-container {
  display: flex;
  align-items: center;
}

.kyj__calculate {
  width: 80px; /* Adjust width as needed */
  height: 64px; /* Adjust height as needed */
  padding: 10px;
  text-align: center;
  margin: 0 5px; /* Adjust margin for spacing */
  border: 1px solid #ccc;
  font-size: 18px; /* Adjust font size */
  order: 2; /* Change order to place input in the middle */
}

.kyj__decreaseBtn,
.kyj__increaseBtn {
  padding: 20px; /* Adjust padding for button size */
  background-color: #ccc;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  order: 1; /* Change order to place buttons at the sides */
}

.kyj__increaseBtn {
  order: 3; /* Change order to place + button at the right */
}

.kyj__decreaseBtn:hover,
.kyj__increaseBtn:hover {
  background-color: #aaa;
}

#kyj_total_price{
margin-left:60px;
}



.product_review_container {
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 덜 입체적인 경계선을 만듭니다 */
  margin-top:20px;
}


.pro_detail_img{
width:100%; display:none;
}
.close_pro_detail_inform{
display:none;
}
 
 .p_review_image {
        box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.1); /* 오른쪽에 그림자 효과 적용 */
        padding-right: 5px; /* 오른쪽 간격 조절 */
    }
    
   .p_review_rank{
	   
	   width:550px;
	   
   }
   
   .Rpagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered-text {
  text-align: center;
  flex-grow: 1;
}

.r_option{

margin-right:5px;

}
.clicked {
    /* 클릭된 버튼의 스타일 */
    background-color: #f0f0f0; /* 밝은 회색 배경색 */
    /* 추가적인 스타일 정의 */
     color: #000; /* 텍스트를 검정색으로 변경 */
}

.qna_content:hover {
   
    cursor: pointer; /* 마우스 호버 시 커서 모양 변경 (옵션) */
}

.qnaPageBtn:hover,#qnaPageNextBtn,#qnaPagePrevBtn{
	cursor: pointer; /* 마우스 호버 시 커서 모양 변경 (옵션) */
}

.qna_content td {
    max-width: 0; /* 최대 너비를 0으로 설정하여 내용이 넘칠 때 처리합니다. */
    white-space: nowrap; /* 넘치는 텍스트를 한 줄에 표시합니다. */
    overflow: hidden; /* 넘치는 부분을 숨깁니다. */
    text-overflow: ellipsis; /* 넘칠 때 ...으로 표시합니다. */
    
}